<p-accordion value="0">
  <p-accordion-panel value="0">
    <p-accordion-header class="text-3xl">In Progress</p-accordion-header>
    <p-accordion-content>
      <ng-container
        [ngTemplateOutlet]="bookTable"
        [ngTemplateOutletContext]="{ books: inProgessBooks }"
      ></ng-container>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="1">
    <p-accordion-header class="text-3xl">Finished</p-accordion-header>
    <p-accordion-content>
      <ng-container
        [ngTemplateOutlet]="bookTable"
        [ngTemplateOutletContext]="{ books: finishedBooks }"
      ></ng-container>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>

<ng-template #bookTable let-books="books">
  <p-table [value]="books">
    <ng-template #body let-book>
      <tr>
        <td class="pl-0 pr-0">
          <img
            class="max-h-80 min-h-20 object-cover block m-auto"
            [src]="book.imageurl"
            alt="{{ book.title }}"
          />
        </td>
        <td class="max-w-[80vw] lg:max-w-[30vw]">
          <div class="text-xl lg:text-3xl font-bold">{{ book.title }}</div>
          <div>{{ book.author }}</div>
          <div class="mt-2">{{ book.takeaways }}</div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
